.price-list-prop table.outer {
  padding-bottom: 12px;
}
.price-list-prop table.outer > tbody > tr:first-child table tr {
  background-color: #e7eff1;
}
.price-list-prop table.outer table.inner.first td {
  border-top: 1px solid #a8b6b9;
}
.price-list-prop table.outer table.inner.first td:first-child span {
  display: block;
  width: 180px;
}
.price-list-prop table.outer table.inner.first td:nth-child(2) span {
  display: block;
  width: 106px;
}
.price-list-prop table.outer table.inner.first td input[type="number"] {
  width: 30px;
  font-size: 11px;
  padding: 0 3px;
}
.price-list-prop table.outer table.inner tr td {
  padding: 4px;
  border: 1px solid #a8b6b9;
  border-right: none;
  border-top: none;
  text-align: center;
}
.price-list-prop table.outer table.inner tr td > div {
  width: 92px;
}
.price-list-prop table.outer table.inner tr td:nth-last-child(2) {
  border-right: 1px solid #a8b6b9;
}
.price-list-prop table.outer table.inner tr td:last-child {
  border-right: 1px solid #a8b6b9;
}
.price-list-prop table.outer table.inner tr td.add-col {
  text-align: center;
  width: 30px;
  border-left: none;
}
.price-list-prop table.outer table.inner tr td.add-col input {
  background: url('/bitrix/panel/main/images/bx-admin-sprite-small-2.png') no-repeat 0 0 !important;
  padding-left: 10px!important;
  height: 22px;
  margin-bottom: 8px;
}
.price-list-prop table.outer table.inner tr td.add-col input.adm-btn-add {
  background-position: 6px -2423px !important;
}
.price-list-prop table.outer table.inner tr td.add-col input.adm-btn-del {
  background-position: 6px -1815px !important;
}
.price-list-prop table.outer table.inner tr td.add-col input:last-child {
  margin-bottom: 1px;
}
.price-list-prop table.outer table.inner tr td.add-row {
  text-align: right;
  width: 30px;
  border: none;
}
.price-list-prop table.outer table.inner tr td.add-row input {
  background: url('/bitrix/panel/main/images/bx-admin-sprite-small-2.png') no-repeat 0 0 !important;
  padding-left: 10px!important;
  height: 22px;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  padding-right: 20px;
}
.price-list-prop table.outer table.inner tr td.add-row input.adm-btn-remove {
  background-position: 0 -3014px !important;
}
.price-list-prop table.outer table.inner tr td.add-row input.adm-btn-remove:hover {
  background-position: 0 -2987px !important;
}
.price-list-prop table.outer table.inner tr td.add-row div {
  width: 30px;
}
.price-list-prop table.outer table.inner tr td label {
  width: 70px;
  display: inline-block;
}
.price-list-prop table.outer table.inner tr td input {
  font-size: 12px;
}
.price-list-prop table.outer table.inner tr td input[type="number"] {
  text-align: right;
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #a3a5a5;
  color: #000;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 2px 2px -1px rgba(180, 188, 191, 0.7);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 2px 2px -1px rgba(180, 188, 191, 0.7);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 82px;
  height: 27px;
  margin: 0;
  vertical-align: middle;
  padding: 0 4px;
  -webkit-font-smoothing: antialiased;
}
.price-list-prop table.outer table.inner tr td input[type="number"]::-webkit-outer-spin-button,
.price-list-prop table.outer table.inner tr td input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price-list-prop table.outer table.inner tr td select.service {
  width: 180px;
}
.price-list-prop table.outer table.inner tr td select.level {
  width: 106px;
}
/*# sourceMappingURL=styles.css.map */